Recibos.pdf
holerites_separados_final
holerites_protegidos
holerites_identificador_unico
holerites_formatados_final
Recibos_Standort.pdf
Recibos_Empreendimentos.pdf
Colaboradores.xlsx
.env
Colaboradores-BKP.xlsx
RHGestor
envio_holerites_evolution*
Instance.json
enviados
execution_status.json
relatorio_envio_holerites*
__pycache__
debug.py